body {
    background-color: linen;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Chewy', cursive;
}

@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/chewy/v18/uK_94ruUb-k-wn52KjI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.header {
    margin-bottom: 20px;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 50%;
}
.progressContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    background-color: #f3f3f3;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
}

.progressBarWrapper {
    flex-grow: 1;
    height: 100%;
    background-color: #f3f3f3;
    position: relative;
}

.progressBarAnimated {
    height: 100%;
    background-color: #4caf50;
}

.progressText {
    position: absolute;
    text-align: left;
    padding-left: 10px;
    z-index: 1;
}

.detailsButton {
    margin-right: 10px;
    margin-left: 20px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }