body {
    background-color: linen;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Chewy', cursive;
}
.header {
    margin-bottom: 20px;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 50%;
}
.progressContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    background-color: #f3f3f3;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
}

.progressBarWrapper {
    flex-grow: 1;
    height: 100%;
    background-color: #f3f3f3;
    position: relative;
}

.progressBarAnimated {
    height: 100%;
    background-color: #4caf50;
}

.progressText {
    position: absolute;
    text-align: left;
    padding-left: 10px;
    z-index: 1;
}

.detailsButton {
    margin-right: 10px;
    margin-left: 20px;
}