body {
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.header {
    margin-bottom: 20px;
}

.progressContainer {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}

.progressBarAnimated {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease;
}

.progressText {
    position: absolute;
    width: 100%;
}

.tasks {
    margin-bottom: 20px;
}